@import "tailwindcss";

#toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

@theme {
  --font-inter: "Inter", "sans-serif";
}

.grid-card {
  @apply h-24 bg-sky-500 aspect-[4/3] rounded-lg shadow-lg md:aspect-[3/4] xl:aspect-[4/3] overflow-hidden relative hover:scale-95 transition-all duration-500 sm:h-60;
}

.grid-card-img {
  @apply w-full h-full bg-cover bg-center absolute group-hover:scale-125 transition-all duration-500 group-hover:rotate-12
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}